<form class="clearfix" method="post" action="#comments">
    <div class="form-group mt-2">
        <h6 class="mb-4"><img src="/img/icons/edit.png" class="mr-1"> Ajouter un commentaire</h6>
        {% if postMessage is not null %}
            <div class="alert alert-success" role="alert">
                <ul>
                    <li>{{ postMessage }}</li>
                </ul>
            </div>
        {% endif %}
        {% if errors.username is defined and errors.comment is defined %}
            <div class="alert alert-danger mt-2" role="alert">Votre commentaire n'a pu être envoyé. Merci de corriger
                les erreurs indiquées :
            </div>
        {% endif %}
        {% if errors.token is defined %}
            <div class="alert alert-warning" role="alert">
                <ul>
                    {% for error in errors.token %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <label for="nom">Nom ou pseudo :</label>
        <input type="text" class="form-control" name="username" value="{{ formComment.username }}" required>
        {% if errors.username is defined %}
            <div class="alert alert-primary mt-2" role="alert">
                <ul>
                    {% for error in errors.username %}
                        <li>
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="comment">Commentaire :</label>
        <textarea class="form-control" rows="5" name="comment" required>{{ formComment.comment }}</textarea>
        {% if errors.comment is defined %}
            <div class="alert alert-primary mt-2" role="alert">
                <ul>
                    {% for error in errors.comment %}
                        <li>
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="g-recaptcha mt-3" data-sitekey="6Leh4-kUAAAAAOspZuwp7wj1a0xAnqD9YKYCN-eA"></div>
        <input type="submit" name="delete" class="site-btn mt-3 mb-4" value="Envoyer">
    </div>
    <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
</form>
{% for comment in comments %}
    {% if comment.status %}
        <div class="card mt-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                        <p class="text-secondary text-center comment-date">{{ comment.createdAt | date('d/m/Y H:i') }}
                    </div>
                    <div class="col-md-10">
                        <p>
                        <div class="float-left comment-a"><strong>{{ comment.username }}</strong></div>
                        </p>
                        <div class="clearfix"></div>
                        <p>{{ comment.comment }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}