{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - {% if user() %}Administration{% else %}Connexion{% endif %}{% endblock %}

{% block main %}
    <!-- Page Top section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
        <div class="container">
            <h2>{% if user() %}Administration<br><small>Tableau de bord</small>{% else %}Connexion{% endif %}</h2>
            <div class="site-breadcrumb">
                <a href="home">Accueil</a> / <span>{% if user() %}Administration{% else %}Connexion{% endif %}</span>
            </div>
        </div>
    </section>
    <!-- Page Top section end -->
    <!-- Blog section -->
    <section class="domain-search-section sc-connect-page">
        <div class="container connect-page">
            <div class="domain-form-warp">
                {% if user() %}
                    <h2>🚀 <small>Bienvenue {{ user().username }} !</small></h2>
                    {% for type, messages in flashbag() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }} mt-3" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <p class="mt-5 mb-4 blog-text">Que souhaitez-vous faire ?</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li><a href="./poster">Poster un article</a></li>
                                <li><a href="./blog">Modifier ou supprimer un article</a></li>
                                <li><a href="./commentaires">Modérer les commentaires</a></li>
                                <li><a href="./utilisateur">Ajouter un utilisateur à l'administration</a></li>
                            </ul>
                        </div>
                    </div>
                    <form class="df-white-bg" method="post">
                        <div class="text-center mt-5">
                            <button name="disconnect" class="site-btn">Déconnexion</button>
                        </div>
                    </form>
                {% else %}
                    <div class="section-title2">
                        <img src="./img/icons/lock.png" alt="#">
                    </div>
                    <form class="domain-search-form df-white-bg mt-3" method="post">
                        {% if errors.token is defined %}
                            <div class="alert alert-warning" role="alert">
                                <ul>
                                    {% for error in errors.token %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% for type, messages in flashbag() %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <p class="mt-4 mb-4 blog-text">Merci d'indiquer un identifiant et un mot de passe pour vous
                            connecter.</p>
                        {% if errors.user is defined %}
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    {% for error in errors.user %}
                                        <li>
                                            {{ error }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <input type="text" placeholder="Votre identifiant" name="login" value="{{ formUser.email }}"
                               class="mb-3">
                        {% if errors.password is defined %}
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    {% for error in errors.password %}
                                        <li>
                                            {{ error }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <input type="password" onfocus="this.value=''" placeholder="Votre mot de passe" name="password"
                               value="{{ formUser.password }}"
                               class="mb-3">
                        {% if errors.captcha is defined %}
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    {% for error in errors.captcha %}
                                        <li>
                                            {{ error }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="text-center">
                            <div class="g-recaptcha mt-1 d-flex justify-content-center"
                                 data-sitekey="{{ captchaPublicKey() }}"></div>
                            <button name="connect" class="site-btn mt-3">Connexion</button>
                        </div>
                        <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
                    </form>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Blog section end -->
{% endblock %}