{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Me contacter {% endblock %}

{% block main %}
    <!-- Page Top section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
        <div class="container">
            <h2 id="form">Contact</h2>
            <div class="site-breadcrumb">
                <a href="home">Accueil</a> / <span>Contact</span>
            </div>
        </div>
    </section>
    <!-- Page Top section end -->
    <!-- Blog section -->
    <section class="contact-section">
        <div class="container" id="form">
            <div class="row">
                <div class="col-lg-3 contact-text">
                    <h4>Contactez-moi</h4>
                    <p>Merci de remplir ce formulaire.</p>
                    <div class="cont-info">
                        <div class="ci-icon">
                            <img src="img/icons/1.png" alt="">
                        </div>
                        <span>Saint-Rémy-Lès-Chevreuse</span>
                    </div>
                    <div class="cont-info">
                        <div class="ci-icon">
                            <img src="img/icons/2.png" alt="">
                        </div>
                        <span>+33 (0)6 99 18 17 59</span>
                    </div>
                    <div class="cont-info">
                        <div class="ci-icon">
                            <img src="img/icons/3.png" alt="">
                        </div>
                        <span>contact@vincent-dev.com</span>
                    </div>
                </div>
                <div class="col-lg-9">
                    {% for type, messages in flashbag() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% if errors.token is defined %}
                        <div class="alert alert-warning" role="alert">
                            <ul>
                                {% for error in errors.token %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if displayForm == true %}
                        <form id="contact" class="contact-form" method="post" action="#form">
                            <div class="row">
                                <div class="col-md-6">
                                    {% if errors.name is defined %}
                                        <div class="alert alert-warning" role="alert">
                                            <ul>
                                                {% for error in errors.name %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <input type="text" name="name" placeholder="Votre nom" value="{{ name }}">
                                </div>
                                <div class="col-md-6">
                                    {% if errors.email is defined %}
                                        <div class="alert alert-warning" role="alert">
                                            <ul>
                                                {% for error in errors.email %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <input type="email" name="email" placeholder="Votre e-mail" value="{{ email }}">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" name="subject" placeholder="Sujet" value="{{ subject }}">
                                    {% if errors.message is defined %}
                                        <div class="alert alert-warning" role="alert">
                                            <ul>
                                                {% for error in errors.message %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <textarea name="message" placeholder="Message">{{ message }}</textarea>
                                    {% if errors.captcha is defined %}
                                        <div class="alert alert-warning" role="alert">
                                            <ul>
                                                {% for error in errors.captcha %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <div class="g-recaptcha mt-1" data-sitekey="{{ captchaPublicKey() }}"></div>
                                    <button class="site-btn mt-3">Envoyer</button>
                                </div>
                            </div>
                            <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="map" id="map-canvas"></div>
    </section>
    <!-- Blog section end -->
{% endblock %}
{% block javascripts %} {{ parent() }}
    <!-- load for map -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ googleMapKey() }}"></script>
    <script src="js/map.js"></script>
{% endblock %}