{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Me contacter {% endblock %}

{% block main %}
    <!-- Page Top section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
        <div class="container">
            <h2 id="form">Contact</h2>
            <div class="site-breadcrumb">
                <a href="home">Accueil</a> / <span>Contact</span>
            </div>
        </div>
    </section>
    <!-- Page Top section end -->
    <!-- Contact section -->
    <section class="contact-section">
        <div class="container" id="form">
            <div class="row">
                <div class="col-lg-3 contact-text">
                    <h4>Contactez-moi</h4>
                    <p>Merci de remplir ce formulaire.</p>
                    <div class="cont-info">
                        <div class="ci-icon">
                            <img src="img/icons/1.png" alt="">
                        </div>
                        <span>Saint-Rémy-Lès-Chevreuse</span>
                    </div>
                    <div class="cont-info">
                        <div class="ci-icon">
                            <img src="img/icons/2.png" alt="">
                        </div>
                        <span>+33 (0)6 99 18 17 59</span>
                    </div>
                    <div class="cont-info">
                        <div class="ci-icon">
                            <img src="img/icons/3.png" alt="">
                        </div>
                        <span>contact@vincent-dev.com</span>
                    </div>
                </div>
                <div class="col-lg-9">
                    {% if postMessage is not null %}
                        <div class="mx-auto">
                            <div class="alert alert-primary" role="alert"><img src="img/icons/3.png" class="mr-2"
                                                                               style="position: relative;bottom: 2px;"> {{ postMessage }}
                            </div>
                        </div>
                    {% endif %}
                    {% if errors is not empty %}
                        <div class="alert alert-warning" role="alert">
                            <ul>
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <form id="contact" class="contact-form" method="post" action="#form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="name" placeholder="Votre nom" required>
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="email" placeholder="Votre e-mail" required>
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="subject" placeholder="Sujet">
                                <textarea name="message" placeholder="Message" required></textarea>
                                <div class="g-recaptcha mt-1"
                                     data-sitekey="6Leh4-kUAAAAAOspZuwp7wj1a0xAnqD9YKYCN-eA"></div>
                                <button class="site-btn mt-3">Envoyer</button>
                            </div>
                        </div>
                        <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="map" id="map-canvas"></div>
    </section>
    <!-- Contact section end -->
{% endblock %}
{% block javascripts %} {{ parent() }}
    <!-- load for map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPo0NaEvefJ4N6U1WfCLqxuvhX_Fnl4gc"></script>
    <script src="js/map.js"></script>
{% endblock %}