{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Vincent Gauchevertu {% endblock %}

{% block main %}
    <!-- Hero section -->
    <section class="hero-section set-bg" data-setbg="img/bg.jpg">
        <div class="container h-100">
            <div class="hero-content text-white">
                <div class="row">
                    <div class="col-lg-6 pr-0">
                        <h2>Vincent / Développeur</h2>
                        <h3 class="mt-4">Faites décoller vos projets !</h3>
                        <p class="mt-2">Passionné d'internet et de nouvelles technologies, je suis étudiant chez
                            OpenClassrooms en vu d'obtenir le diplôme de développeur intégrateur web de niveau III. </p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn site-btn" data-toggle="modal" data-target="#monCv">
                            Voir mon CV
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="monCv" tabindex="-1" role="dialog" aria-labelledby="monCvTitle"
                             aria-hidden="true">
                            {% if user() %}
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <embed src="data/cv-vincent-gauchevertu.pdf" type="application/pdf" width="100%"
                                               height="700px"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <div class="text-body">
                                                Vous devez être connecté pour voir mon CV
                                            </div>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" class="text-primary">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <!-- Modal end -->
                    </div>
                </div>
                <div class="hero-rocket">
                    <img src="./img/rocket.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->
    <!-- Features section -->
    <section class="features-section spad">
        <div class="container">
            <div class="section-title">
                <img src="./img/section-title-icon.png" alt="#">
                <p></p>
                <h2>Derniers blog posts</h2>
                <p class="mt-1"><a href="blog" title="Voir tous les posts">Voir tous les posts</a></p>
            </div>
            <div class="row">
                {% for post in latestPosts() %}
                    <div class="col-lg-4 col-md-6 feature-item">
                        <a href="post?id={{ post.id }}" title="{{ post.title }}">
                            <div class="ft-icon">
                                <i class="flaticon-domain-registration"></i>
                            </div>
                            <h4>{{ post.title }}</h4>
                            <span>{{ post.createdAt | date('d/m/Y') }}</span>
                            <p>{{ post.chapo|length > 50 ? post.chapo|slice(0, 120) ~ '...' : post.chapo }}</p>
                        </a>
                    </div>
                {% else %}
                    <div>Cette page n'existe pas</div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Features section end -->
    <!-- Contact section -->
    <section class="domain-search-section spad set-bg" data-setbg="img/domain-bg.jpg">
        <div class="container" id="form">
            <div class="section-title st-white">
                <img src="./img/section-title-icon.png" alt="#">
                <h2>Contact</h2>
                <p class="mt-1">{% if postMessage is null %}Vous pouvez me contacter en remplissant ce formulaire
                    {% endif %}</p>
            </div>
            <div class="row" id="form-homepage">
                <div class="col-lg-3 contact-text text-white">
                    <h4>Vincent /<br><br>Développeur</h4>
                    <div class="cont-info">
                        <div class="ci-icon">
                            <img src="img/icons/1.png">
                        </div>
                        <span class="text-white">Saint-Rémy-Lès-Chevreuse</span>
                    </div>
                    <div class="cont-info">
                        <div class="ci-icon">
                            <img src="img/icons/2.png" alt="">
                        </div>
                        <span class="text-white">+33 (0)6 09 08 17 09</span>
                    </div>
                    <div class="cont-info">
                        <div class="ci-icon">
                            <img src="img/icons/3.png" alt="">
                        </div>
                        <span class="text-white">contact@vincent-dev.com</span>
                    </div>
                </div>
                <div class="col-lg-9">
                    <form id="contact" class="contact-form" method="post" action="#form">
                        <div class="row">
                            {% if postMessage is not null %}
                                <div class="col-md-12">
                                    <div class="alert alert-success" role="alert">
                                        <ul>
                                            <li>{{ postMessage }}</li>
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            {% if errors is not empty %}
                                <div class="col-md-12">
                                    <div class="alert alert-warning" role="alert">
                                        <ul>
                                            {% for error in errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-md-6">
                                <input type="text" name="name" placeholder="Votre nom" required>
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="email" placeholder="Votre e-mail" required>
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="subject" placeholder="Sujet">
                                <textarea name="message" placeholder="Message" required></textarea>
                                <div class="g-recaptcha mt-1"
                                     data-sitekey="6Leh4-kUAAAAAOspZuwp7wj1a0xAnqD9YKYCN-eA"></div>
                                <button class="site-btn mt-3">Envoyer</button>
                            </div>
                        </div>
                        <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section end -->
{% endblock %}