{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Administration{% endblock %}

{% block main %}
    <!-- Page Top section -->
    <section class="page-top-section set-bg" data-setbg="img/page-top-bg.jpg">
        <div class="container">
            <h2>Administration<br><small>Modération des commentaires</small></h2>
            <div class="site-breadcrumb">
                <a href="./">Accueil</a> / <span>Administration</span>
            </div>
        </div>
    </section>
    <!-- Page Top section end -->
    <!-- Blog posts section -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    {% for comment in pagination.data %}
                        <div class="container-comment">
                            <a href="post?id={{ comment.PostId }}" title="{{ comment.username }}">
                                <h5 class="titre-comment">{{ posts[comment.postId].title }}</h5>
                            </a>
                            <h6>Posté par {{ comment.username }},
                                le {{ comment.createdAt | date('d/m/Y à H:i:s') }}</h6>
                            <div class="moderation-button">
                                {% if comment.status %}
                                    <div class="alert alert-success" role="alert">
                                        Publié
                                    </div>
                                {% else %}
                                    <div class="alert alert-warning" role="alert">
                                        En attente
                                    </div>
                                {% endif %}
                            </div>
                            <p>{{ comment.comment }}</p>
                            <form class="clearfix" method="post" action="/moderation">
                                <button type="submit" input type="hidden" name="delete_id" value="{{ comment.id }}"
                                        class="delete-comment-button site-btn-sm btn-purple mr-1">Supprimer
                                </button>
                                {% if comment.status == false %}
                                    <button type="submit" input type="hidden" name="publish_id" value="{{ comment.id }}"
                                            class="publish-comment-button site-btn-sm">Publier
                                    </button>
                                {% endif %}
                            </form>
                        </div>
                        <p class="mb-4"></p>
                    {% endfor %}
                    {% include 'Default/_pagination.html.twig' with {'nbPages':pagination.nbPages, 'currentPage':pagination.currentPage} only %}
                </div>
                <!-- sidebar -->
                <div class="col-lg-3 col-md-5 col-sm-8 sidebar">
                    {% include 'Default/_sidebar.html.twig' %}
                </div>
            </div>
        </div>
    </section>
    <!-- Blog posts section end -->
{% endblock %}